# https://direnv.net/man/direnv-stdlib.1.html
layout node
source_url "https://raw.githubusercontent.com/cachix/devenv/c90896345449b92d8f503cf8c2a339088bec0ddc/direnvrc" "sha256-d+8cBpDfDBj41inrADaJt+bDWhOktwslgoP5YiGJ1v0="

source_env .envrc.secret

# https://github.com/squidfunk/mkdocs-material/issues/5121
export DYLD_FALLBACK_LIBRARY_PATH=/opt/homebrew/lib

use devenv
layout node
