---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";

import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import { Icon } from "astro-icon";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <section class="scroll-mt-16" id="features">
    <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
      Developed by 
      <a target="_blank" href="https://github.com/thenonameguy">Krisztián Szabó</a> 
      with <Icon name="tabler:heart" title="love" class="w-5 h-5 mr-1 inline-block icon-bold color-red"/>
    </div>
  </section>
</Layout>
